

<form action="/posts" method="post">
  <div class="mb-3">
    <label for="author" class="form-label">Tweet author</label>
    <input type="text" class="form-control" name="author" id="author" value="Anton" style="display: none;">
    <!--div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div-->
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">tweet text</label>
    <input type="text" class="form-control" name="text" id="text">
  </div>
  <!--div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>